:root {
  --color-text: #b8b8b8;
  --color-heading: #999999;
  --color-background: #1b1b1b;
  --color-accent: #ffce00;

  --color-voice-background: #dbdbdb;
  --color-voice-hover-background: white;
  --color-voice-selected1-background: #00c6ff;
  --color-voice-selected2-background: #00e5ff;

  --color-input-background: black;
  --color-input-border: #2b2b2b;
}
