@import './styles/variables.scss';

.dashboard {
  width: 90%;
  .voices-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .voice {
      min-width: 300px;
      margin: 1em;
      position: relative;
      & > img {
        transition: background-color 0.5s ease-out;
        cursor: pointer;
        background-color: var(--color-voice-background);
        //   Border radius
        border-radius: 200px 200px 200px 200px;
        -moz-border-radius: 200px 200px 200px 200px;
        -webkit-border-radius: 200px 200px 200px 200px;
        border: 1px solid #696969;

        // Inset shadow
        -webkit-box-shadow: inset 0px 0px 20px 0px rgba(173, 173, 173, 1);
        -moz-box-shadow: inset 0px 0px 20px 0px rgba(173, 173, 173, 1);
        box-shadow: inset 0px 0px 20px 0px rgba(173, 173, 173, 1);
      }
      .selected {
        background-color: var(--color-accent);
      }
      & > span {
        display: flow-root;
      }
    }
  }
}
